@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>@@Procure</h1>
    <p class="lead">@@Procure is the most powerful tool in Procurement Supply Chain with several features in order to improve and facilitate the bridge between Custumers and Suppliers</p>
    <p><a href="http://www.google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at vulputate velit. Ut tempus quam at accumsan facilisis. Morbi aliquam est augue, et vulputate purus cursus id. Suspendisse accumsan augue ut nisl auctor tincidunt. Vivamus id magna id odio ullamcorper blandit. Etiam quis euismod tortor. Proin id felis a mauris egestas consectetur non id enim.
        </p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custumers</h2>
        <p>Morbi non lacus elit. Sed scelerisque dignissim nisl ac convallis. Mauris et arcu sit amet odio convallis rhoncus. Cras at fringilla nisl, ac fringilla massa. Etiam sed pulvinar nunc, quis porta ligula. Vivamus vel est sit amet turpis porttitor maximus. Morbi fringilla ipsum vehicula, convallis odio quis, eleifend tortor. Maecenas pulvinar nibh vel augue malesuada, nec luctus ex convallis. In hac habitasse platea dictumst. Donec condimentum elit at consequat iaculis. Nulla ut mollis turpis, pretium faucibus purus.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <p>In hendrerit sit amet neque ac efficitur. Morbi condimentum mauris et lacus tempus luctus. In nec libero consectetur, euismod risus ac, elementum tortor. Suspendisse a magna ac augue venenatis commodo eu et sem. Donec nec blandit est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed non tincidunt odio. Mauris nec fermentum lacus. Aenean sed quam nec odio ultrices placerat. Suspendisse volutpat risus justo, eget eleifend nulla vestibulum et.</p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
</div>